<div class="container">
  <div class="image"></div>
  <div class="contents">
    <ol>
      <li>Name: Jo</li>
      <li>Rarity: Common</li>
      <li>Health Rating: 4</li>
      <li>Age: 10</li>
      <li>Poison Status: Not Poisonous</li>
    </ol>
  </div>
</div>