<div>
    <div class="img-container"></div>
    <div class="img-info">
        <ol>
            <li>wertwrt64wy</li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
</div>