<main>
    {{!-- <div class="title">
        <h1>Welcome!</h1>
    </div> --}}
    <div class="container">
        <div class="btn">
            <div class="side default-side"><a href="/meat">Meat</a></div>
            <div class="side hover-side"><a href="/meat">Meat</a></div>
        </div>
        <div class="btn2">
            <div class="side default-side2"><a href="">Veges</a></div>
            <div class="side hover-side2"><a href="">Veges</a></div>
        </div>
        {{!-- <div class="btn"><a href="#">Veg</a></div>
        <div class="btn"><a href="#">Meat</a></div> --}}
    </div>
</main>